# ========================
# Environment Variables
# ========================
.env
.env.*
!.env.example

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# Django
# ========================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ========================
# Virtual Environments
# ========================
venv/
.venv/
env/

# ========================
# Docker
# ========================
*.tar
docker-data/

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Tests / Coverage
# ========================
.coverage
htmlcov/
.pytest_cache/

# ========================
# Frontend (if added later)
# ========================
node_modules/
dist/
build/
